.header-bar-global{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    width: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: rgb(207, 154, 228);
    position: sticky;

}

.item-gallery-parent{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    background-color: aqua;
    height: 20rem;
    margin: 2rem;
}