.header-buttons-primary{
    outline:none;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    width: 100px;
    height: auto;
    justify-content: center;
    align-content: center;
    border: none;
    transition: ease-in-out .2s;

}

.header-buttons-primary:hover{
    background-color: #e463dd;
}

.header-buttons-primary:focus{
    background-color: #a827a2;
    outline: none;
}

.search-bar-primary{
    outline: #a827a2;
    border-style: none;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255, 0);
}
.search-bar-parent{
    display: flex;
    width: 50%;
    outline: #a827a2;
    border: 2px solid #a827a2;
    border-style: solid none solid solid;
    height: 70%;
    background-color: rgb(255, 255, 255, 0);
}
.search-bar-button{
    height: 100%;
    background-color: #a827a2;
    outline: none;
    border: none;
    transition: ease-in-out .2s;

}
.search-bar-button:hover{
    background-color: #cc21a1;
    outline: none;
    border: none;
}